body{
    height:750px;
}
.heading
{
font-size: 30px;
width: 100%;
margin: 0px;
background-color: aqua;
color:blue;
padding:10px;
font-weight:bold;
}

#status
{
font-size: 18px;
}
canvas{
    border-radius: 20px;
    box-shadow:5px 5px 18px gray;
    margin-top:100px;
}

